# ----------------------------------------
# CORE INFRASTRUCTURE
# ----------------------------------------
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_password
POSTGRES_DB=frontdesk
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BROKERS=localhost:9092

ELASTICSEARCH_NODE=http://localhost:9200

# ----------------------------------------
# EXTERNAL APIS (To be filled manually)
# ----------------------------------------
GROQ_API_KEY=your-groq-key
DEEPGRAM_API_KEY=your-deepgram-key
LIVEKIT_API_KEY=your-livekit-api-key
LIVEKIT_API_SECRET=""
LIVEKIT_URL=""

# ----------------------------------------
# MICROSERVICES PORTS (Default routing)
# ----------------------------------------
API_GATEWAY_PORT=3000
HELP_REQUEST_SERVICE_PORT=3001
KNOWLEDGE_BASE_SERVICE_PORT=3002
NOTIFICATION_SERVICE_PORT=3003
SUPERVISOR_UI_PORT=3004
